[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
minisql = {editable = true, path = "."}

[dev-packages]
build = "*"
twine = "*"

[scripts]
build="python3 -m build"
deploy="twine upload dist/* -u __token__ -p $PYPI_API_TOKEN"

[requires]
python_version = "3.10"
